<div class="py2 post-footer">
  <img src="/images/profile.jpg" alt="Brian Williams" class="avatar" />
  <p>
    Brian Williams is a security engineer working for <a href="https://www.whitehatsec.com/">WhiteHat Security</a> in Houston, Texas. When he's not hacking, he enjoys gaming, watching streams on <a href="https://twitch.tv/">Twitch</a>, and hanging out in Houston coffee shops.
  </p>
  <p>
    Felt like leaving a comment? Feel free to <a href="/contact">email me</a> or send me a message on <a href="https://twitter.com/{{site.twitter_username}}">Twitter</a>.
  </p>
</div>
